.entry-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-box2 {
  box-shadow: 0px 3px 12px orangered;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  margin: 0 auto;
  min-height: 70vh;
  border-radius: 10%;

  position: absolute;
  top: 50%;
  left: 15%;
  margin-top: -15%;
}
