.entry-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  box-shadow: 0px 0px 15px -5px black;
}
#classicformpage .view {
  background-image: url("http://mdbootstrap.com/img/Photos/Others/images/91.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
